.Terminal {
  /*font-family: monaco, 'Source Code Pro';*/
  font-family: monospace;
  font-size: 11pt;
  background-color: #000;
  color: #C5E9E4;
  padding: 10px;
  border: 1px solid #000;
}

.Line, .Prompt {
  white-space: pre-wrap;
}

.Prompt__cursor {
  animation: blink .75s steps(2, start) infinite;
  -webkit-animation: blink 1s steps(2, start) infinite;
}

.Prompt__from {
  color: #fff;
}

@keyframes blink {
  to {
    background-color: #fff;
    color: #C5E9E4;
  } 
}

@-webkit-keyframes blink {
  to {
    background-color: #1D3531;
    color: #C5E9E4;
  }
}